<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #98a7f2;">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand " routerLink="/"><h1 class=" text-light text-center"><i class="fa-brands fa-phoenix-squadron"></i>&nbsp; E COMMERCE CART</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-3 mb-lg-0 ms-lg-4">
                <li class="nav-item"><input type="text" placeholder="🔎 Search your product" class="form-control "></li>
                <li class="nav-item"><a class="nav-link active ms-5" aria-current="page"  routerLink="products/wish-list">Wish list ❤</a></li>
            
               
            </ul>
            <form class="d-flex" >
                <a routerLink="products/cart" class="btn btn-outline-light" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-white text-dark ms-1 rounded-pill">3</span>
                </a>
            </form>
        </div>
    </div>
</nav>
